.pt-10 {
    padding-top: 10px;
}

table.table form {
    display: inline-block;
}

.delete {
    padding: 0;
    border: 0;
    background: transparent;
}

.avatar {
    width: 109px;
    height: 109px;
    object-fit: cover;
}

.owl-item .single-item{
    margin: 0 5px;
}
